<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/moodstyle.css">
</head>
<body>
    {{> _header}}
    {{{body}}}

    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script>
</body>
</html>
