<h2>Complete Your Profile</h2>

<form action="/profile-setup" method="POST" id = "homeForm" enctype="multipart/form-data">

    <div class = "homeForm hidden" id = "error-container">
      <div class = "alert alert-danger text-goes-here"></div>
    </div>
    <!-- Bio (Optional) -->
    <label for="bio">Bio:</label>
    <textarea name="bio" placeholder="Tell us about yourself..."></textarea>

    <!-- Interests (Required) -->
    <div class="form-floating col-3">
      <label for="interests">Select up to 4 Interests *:</label>
      {{#each allInterests}}
        <div>
          <label>
            <input type="checkbox" name="interests" value="{{interestName}}">
            {{interestName}}
          </label>
        </div>
  {{/each}}
    </div>
    {{!-- <p id="error-message" style="color: red;"></p>
    <br> --}}
    <div class="homeForm hidden" id="error-container">
      <div class="alert alert-danger text-goes-here"></div>
    </div>

    <button type="submit">Save to Profile</button>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/home.js"></script>
</form>
