<h2>Complete Your Profile</h2>

{{!-- <form action="/profile-setup" method="POST" enctype="multipart/form-data">
    <!-- Bio (Optional) -->
    <label for="bio">Bio (Optional):</label>
    <textarea name="bio" placeholder="Tell us about yourself..."></textarea>

    <!-- Interests (Required) -->
    <label for="interests">Select up to 5 Interests (Required):</label>
    <select name="interests" id="interests-dropdown" multiple required>
        {{#each interestNames}}
          <option value="{{this.interestName}}">{{this.interestName}}</option>
        {{/each}}
    </select>
    <p id="error-message" style="color: red;"></p>
    <br>
    <button type="submit">Save to Profile</button>
</form> --}}
